<div class="wrapper">
    <h1>Welcome to Chicken Swedes!</h1>
    <p>Did you know that 113 different players of Swedish descent skated in atleast one game during the 2019-2020 NHL season?
    This site is made for an easy way to keep track of our Swedish born players currently playing in the best league in the world.</p>
    <p>If you are interested, further down on the page you can read some interesting facts about the players who came before - and gave way for a whole new generation of swedish NHL players.</p>
    <h2>Who was first?</h2>
    <p>The first swede to ever play for an NHL game may not be known to a lot of people. Ulf Sterner, born in 1941, got to play in 4 games with the New York Rangers in the 1964-1965 season, but remained scoreless.</p>
    
    <img class="contentPicture" src='https://upload.wikimedia.org/wikipedia/commons/b/ba/Ulf_Sterner_signed.jpg'>
    
    <h2>Where does the term Chicken Swede come from?</h2>
    <p>Where the term originated is a question without a clear answer. In the earlier days of hockey, Canadians could be very aggressive and physical. The swedes were not used to play that kind of way, so a misconception of Swedish players being "soft" might have started the phrase. They would not drop the gloves and fight each other - which was very common in North America, thus meaning they must be afraid...or you guessed it, too "chicken".</p>
    <p>Playing in bright yellow jerseys might not have helped the swedes with differentiating themselves from chickens.</p>
    
    <h2>1989 - First ever swedish 1st overall pick</h2>
    <p>Mats Sundin was the first ever swedish player going first in the NHL entry draft. 
    Going first overall in a draft symbolizes that a player is the most highly regarded player in his age group. 
    Quebec Nordiques took Sundin with their first pick in 1989. Sundin appeared in 324 games for the Nordiques before being traded to the Toronto Maple Leafs, where Mats later served as captain and built his reputation as one of the all time greats.</p>
    
    <img class="contentPicture" src='https://upload.wikimedia.org/wikipedia/commons/thumb/6/6a/Mats_Sundin_1997.jpg/250px-Mats_Sundin_1997.jpg'>
    <p>Sundin played in a total of 1346 NHL games and scored 1349 points. He is to this day the leading scorer of all the swedes who ever played in the league. He also captained the swedish national team, "Tre Kronor", to the gold medal in the Turino Olympic games in 2006.</p>
    
    <h2>The future is bright</h2>
    <p>Great swedish players are not just a thing of the past. Just in the last couple of years we have seen young swedish players transition into big stars, including Vancouver Canucks Elias Pettersson.
    In 2018 we again saw a swede being the number one pick, 29 years after Sundin. Buffalo Sabres selected Rasmus Dahlin.</p>
    
    <img class="contentPicture" src='https://upload.wikimedia.org/wikipedia/commons/thumb/1/19/Rasmus_Dahlin_2019.png/800px-Rasmus_Dahlin_2019.png'>
    <p>
    In the 2020 draft we saw two new bright players being selected in the top 10, Lucas Raymond at #4 and Alexander Holtz at #7.</p>
</div>
<footer></footer>