
/****************************************************************/
                    /* GENERAL */
/****************************************************************/
.wrapper {
    background-color: #1B4F72;
}

/****************************************************************/
                    /* FONTS */
/****************************************************************/

p {
    padding: 15px;
    font-size: 16px;
    line-height: 1.5em;
    margin-top: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}

/****************************************************************/
                    /* IMAGES */
/****************************************************************/

.contentPicture {
    display: block;
    margin: 0 auto;
    margin-top: 25px;
    margin-bottom: 25px;
    width:40%;
    transition: 0.5s ease-out;
}

.contentPicture:hover {
    width: 45%;
    box-shadow: 20px 20px 20px #081018;
    transition: 0.5s ease-in-out;

}


/****************************************************************/
                    /* FOOTER */
/****************************************************************/

footer {
    background-color:#081018;
    height: 80px;
    margin-top: 100px;
}